<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gymbud">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gblogogodborde"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gblogogodborde"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymBud"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">



        <activity
            android:name=".FragmentContainer"
            android:exported="false" />

        <activity
            android:name=".Modulos.Login.olvidos"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Modulos.Login.Registro"
            android:exported="false" />

        <activity
            android:name=".Modulos.Login.MainActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".Modulos.Login.intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="francoaldrete.com"
                    android:scheme="https"
                    android:pathPrefix="//"
                    android:pathPattern=".*id=.*" />

            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOPic6cUTjthbtwQxOde47gwTzy_Yi2gA" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>